html {
	font-family: 'Lato', sans-serif;
	background: url('../img/bg.jpg') no-repeat center center;
	background-color: #1a1a1a;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	background: none;
}

.full-screen {
	height:100vh;
}

.invite-notif {
	width: 100%;
	height:85px;
	background-color: #1a1a1a;
	color:#fff;
}

@media (min-width: 768px) {
	.flex {
		display: flex;
		align-items: center; 
	}
	.teammates {
		width:70%;
	}
	.invite-notif {
		border-radius: 6px;
		border: 1px solid #181818;
		margin-top: 30px;
	}
	.rj-badge-container {
		width:25%;
	}
	.separator {
		border-left: 1px solid #363636;
	}
	.info-container {
		margin: 0 20%;
	}
	.rj-badge-streak-number-teammate {
		font-size: 26px;
		margin-top: -8%!important;
	}
}

@media (max-width: 767px) {
	.invite-notif {
		position: fixed;
		top:0;
		left:0;
		right:0;
	}
	.full-screen {
		margin-top: 100px;
	}
	.rj-badge-container {
		width:30%;
	}
	.info-container {
		border-top: 1px solid #363636;
		width:90%;
		margin: 0 auto;
		padding-top: 20px;
		margin-top: 10px;
	}
}

.get-button {
	background-color: #ffcc00;
	position: fixed;
	width:100%;
	bottom:0;
	height:80px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	font-weight: 900;
	line-height: 80px;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: url('../img/get-icon.png');
	background-position: 20px;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	z-index: 999;
}


.invite {
	color: #fff;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 30px;
}

.user-name {
	font-size: calc(14px + 2vw);
	font-weight: 700;

}

.invite-text {
	font-size: calc(14px + 1vw);
	font-weight: 300;
}

.user-photo {
	border-radius: 50%;
	height:55px;
	width:55px;
	display:inline-block;
	float:left;
	margin:15px;
	background-size: cover;
}

.notif-text {
	display: inline-block;
	width:70%;
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	margin: 15px 0;
}

.team-name {
	color: #fff;
	font-weight: 700;
	font-style: italic;
	font-size: 28px;
	letter-spacing: 0.02em;
}

.team-sub {
	font-weight: 700;
	color:#919191;
	letter-spacing: 0.14em;
	font-size: 14px;
}

.teammates {
	text-align:center;
	margin: 15px auto;
	vertical-align: top;
}

.single {
	text-align:center;
	margin: 10px auto;
}

.rj-logo {
	height:32px;
	background: url('../img/rj-logo.png') no-repeat center center;
	background-size: contain;
	margin-bottom: 20px;
}

.rj-oneliner {
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 20px;
}

.weeks-label {
	opacity: 0.5;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 1.47px;
	font-weight: bolder;
}

.and-more {
	color: #909090;
	font-weight: bolder;
}

/* SMS the App */

.iti-flag {background-image: url("../img/flags.png");}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.iti-flag {
		background-image: url("../img/flags@2x.png");
	}
}

.sms-copy {
	margin-bottom: 10px;
	color: #888;
}
.sms-input {
	
}

.sms-input .form-control {
	height:40px;
	width:220px;
}

.sms-button {
	background-color: #ffcc00;
	border: none;
	font-weight: bolder;
	height: 40px;
	margin-top:10px;
}